body::-webkit-scrollbar {display: none;}
ul::-webkit-scrollbar {display: none;}
/*hides scrollbar*/

.chat {
    background: transparent;
    transition: all linear 0.5s;
}

.chat-emphasize-1 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 95%, red)
}

.chat-emphasize-2 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 95%, green)
}

.log-view {
    font-family: monospace;
    overflow: scroll;
}

.overlay {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    font-size: 5vw;
    text-align: center;
    line-height: 100vh;
    user-select: none;
    z-index: 99;
    opacity: 0.85;
    background-color: rgb(0, 0, 0);
    color: rgb(232, 232, 232);
}

.overlay-fatal {
    animation: none;
    background-color: rgb(127, 0, 0);
}

.on-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
}

.log-message {
    font-family: monospace;
}

.hero-video {
    position: absolute;
    z-index: 0;
    top: 50%;left: 0;
    transform: translate(0,-50%);
    width: 100%;        
}

.hero-content{
    z-index: 1;
    height: 100%;    
    padding: 0 !important;
    white-space: nowrap;
    overflow: hidden;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.centered-horizontal{
    position: absolute;    
    left: 50%;
    transform: translate(-50%,0%);
}

.portrait {    
    position: absolute;    
    top: 50%;
    max-width: 12vw;        
    transform: translate(0,-50%);
}